body {
    background-color: rgb(114, 199, 255);
    color: rgb(137, 69, 137);
    font-size:larger;
    max-width: 1300px;
    margin: auto;
    padding: 20px;
    font-style:normal;
    font-family: Georgia, 'Times New Roman', Times, serif;
    
}
.texto-com-borda {
    -webkit-text-stroke: 0.3px black;
}

p{
    text-align: justify;
}

